.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-main {
    flex: 1;
}

.site-container {
    width: min(
            var(--content-width),
            calc(100% - (var(--page-gutter) * 2))
    );

    margin-inline: auto;
}